// Config vars
$brand-primary: #1e3951;
$brand-secondary: #57c1cc;
$brand-tertiary: #eba357;
$brand-primary-text: $brand-primary;
$brand-primary-text-invert: #fff;

$primary: $brand-primary-text;
$primary-invert: $brand-primary-text-invert;
$body-color: #333;
$black: #2b2523;
